.header{
    background: #2C3337;
    display: flex;
    align-items: center;
}
.logo-image{
    width: 100px;
    margin: 10px;
    object-fit: contain; /*This correct the aspect ratio*/
}
.icon{
    background-color: #cd9042;
    margin-left: 1px;
}
.header_search{
    display: flex;
    flex: 1;
    margin-right: 10px;
}
.header__input{
    height: 12px;
    padding: 7px;
    border: none;
    width: 100%;
    border-radius: 5px;

}
.search_icon{
    background: tomato;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
}